<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 缓存使用数据库的主键  id作为 map的键 -->
    <settings>
		<!-- 开启懒加载 -->
		<setting name="lazyLoadingEnabled" value="true"></setting>
		<setting name="aggressiveLazyLoading" value="false"></setting>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
	
   <environments default="mysql">
      <environment id="mysql">
      <transactionManager type="JDBC"></transactionManager>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/hibernateweb"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>     
      </dataSource>        
      </environment>  
   </environments>
   <mappers >
     <mapper resource="com/bjsxt/lazy/UserDao.xml"/>
   </mappers>

</configuration>